<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carefinder">

    <!-- Permissions for location access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareFinder"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBpe3WUoi5neHM6NwUq8zmOrSu6mBH-IYs" />
        <!-- LoginActivity (This will be the first screen shown) -->
        <activity android:name=".GetStartedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />

        <!-- RegisterActivity (New registration screen) -->
        <activity android:name=".RegisterActivity"
            android:exported="true" />

        <!-- MainActivity (This will be shown after login) -->
        <activity android:name=".MainActivity" />

        <activity android:name=".HomeActivity" />

        <activity android:name=".AboutUsActivity" />

        <activity android:name=".ProfileActivity" />



    </application>
</manifest>
